---
- name: Include distribution variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
    - default.yml

- name: 'Check epel repo'
  shell: yum repolist | grep -qi EPEL
  register: epel_repo_check
  when: ansible_pkg_mgr == "yum"

- name: 'Add epel repo'
  template:
    src: "epel.repo"
    dest: "/etc/yum.repos.d/epel.repo"
    owner: "root"
    group: "root"
    mode: "0644"
  when: ansible_pkg_mgr == "yum" and epel_repo_check is defined and epel_repo_check.rc != 0

- name: 'Add haproxy apt repo (squeeze)'
  apt_repository:
    repo: deb http://http.debian.net/debian {{ ansible_distribution_release }}-backports-sloppy main
    state: present
    update_cache: yes
  when: ansible_distribution_release == 'squeeze'

- name: Add haproxy apt repo (wheezy/jessie)
  apt_repository:
    repo: deb http://http.debian.net/debian {{ ansible_distribution_release }}-backports main
    state: present
    update_cache: yes
  when: ansible_distribution_release == 'wheezy' or ansible_distribution_release == 'jessie'

- name: 'Add haproxy apt repo (Ubuntu)'
  apt_repository:
    repo: "ppa:vbernat/haproxy-1.5"
    state: present
    update_cache: yes
  when: ansible_distribution == "Ubuntu"

- name: Install HAProxy
  package:
    name: "{{ haproxy_package_name }}"

- name: Install supplementary packages
  package:
    name: "{{ item }}"
  with_items: "{{ haproxy_extra_packages }}"

- name: 'Enable it'
  service:
    name: haproxy
    enabled: yes

- name: 'Ensure chroot directory exists'
  file:
    name: "{{ haproxy_global.chroot }}"
    state: directory
  when: haproxy_global.chroot is defined and haproxy_global.chroot
