{% macro section(section, instances, single=False) %}
{% if instances is defined %}
{% if single %}
{{ section }}
{{ instances|to_haproxy|join('\n')|indent(indentfirst=True) }}


{% else %}
{% for name, options in (instances|dictsort(case_sensitive=True)).items() %}
{{ section }} {{ name }}
{{ options|to_haproxy|join('\n')|indent(indentfirst=True) }}

{% endfor %}

{% endif %}
{% endif %}
{% endmacro %}
