#{{ ansible_managed }}
defaults
{% if haproxy_defaults.mode is defined %}
    mode {{ haproxy_defaults.mode }}
{% endif -%}
{% if haproxy_defaults.log is defined %}
{% for log in haproxy_defaults.log %}
    log {{ log.address }} {{ log.facility }}{% if log.level is defined %} {{log.level }}{% endif %}{% if log.minlevel is defined %} {{ log.minlevel }}{% endif %}

{% if log.format is defined %}
    log-format {{ log.format }}
{% endif %}

{% endfor %}
{% endif %}
{% if haproxy_defaults.retries is defined %}
    retries {{ haproxy_defaults.retries }}
{% endif -%}
{% if haproxy_defaults.timeout is defined -%}
{% for condition in haproxy_defaults.timeout %}
    timeout {{ condition.param }} {{ condition.value }}
{% endfor %}
{% endif -%}
{% if haproxy_defaults.maxconn is defined -%}
    maxconn {{ haproxy_defaults.maxconn }}
{% endif -%}
{% if haproxy_defaults.stats is defined %}
{% if haproxy_defaults.stats.enabled is defined and haproxy_defaults.stats.enabled == True %}
    stats enable
{% endif -%}
{% if haproxy_defaults.stats.hide_version is defined and haproxy_defaults.stats.hide_version == true %}
    stats hide-version
{% endif -%}
{% if haproxy_defaults.stats.uri is defined %}
    stats uri {{ haproxy_defaults.stats.uri }}
{% endif -%}
{% if haproxy_defaults.stats.realm is defined %}
    stats realm {{ haproxy_defaults.stats.realm }}
{% endif -%}
{% if haproxy_defaults.stats.auth is defined %}
    stats auth {{ haproxy_defaults.stats.auth }}
{% endif -%}
{% if haproxy_defaults.stats.refresh is defined %}
    stats refresh {{ haproxy_defaults.stats.refresh }}
{% endif -%}
{% endif %}
{% if haproxy_defaults.options is defined %}
{% for option in haproxy_defaults.options %}
    option {{ option }}
{% endfor -%}
{% endif -%}
{% if ansible_distribution != 'CentOS' %}
{% if haproxy_defaults.errorfile is defined %}
{% for item in haproxy_defaults.errorfile %}
    errorfile {{ item.code }} {{ item.file }}
{% endfor %}
{% endif -%}
{% endif -%}
{% if haproxy_defaults.balance is defined %}
    balance {{ haproxy_defaults.balance }}
{% endif -%}

{% if haproxy_defaults.compression is defined %}
{% if haproxy_defaults.compression.algo is defined %}
    compression algo {{ haproxy_defaults.compression.algo }}
{% endif -%}
{% if haproxy_defaults.compression.type is defined %}
    compression type {{ haproxy_defaults.compression.type }}
{% endif -%}
{% if haproxy_defaults.compression.offload is defined and haproxy_defaults.compression.offload == true %}
    compression offload
{% endif -%}
{% endif -%}

{% if haproxy_defaults.http_check is defined %}
{% if haproxy_defaults.http_check.disable_on_404 is defined and haproxy_defaults.http_check.disable_on_404 == true %}
    http-check disable-on-404
{% endif -%}
{% if haproxy_defaults.http_check.expect is defined %}
    http-check expect {{ haproxy_defaults.http_check.expect }}
{% endif -%}
{% if haproxy_defaults.http_check.send_state is defined and haproxy_defaults.http_check.send_state == true %}
    http-check send-state
{% endif -%}
{% endif -%}

